@import "../../styles/colors.scss";

.welcome-cmp {
  .form-group.has-error {
    .form-text.text-muted {
      display: none;
    }
  }

  .form-signin {
    width: 100%;
    max-width: 480px;
    padding: $margin-md;
    margin: auto;
  }
}
